<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200 initial-s
    cale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{./static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{./static/css/public.css}">
    <link rel="stylesheet" type="text/css" th:href="@{./static/css/index.css}">
    <script type="text/javascript" th:src="@{../static/js/jquery-3.2.1.min.js}"></script>
    <title>郑州某中学</title>
<!--     <head th:include="schoolpage/common"> -->
</head>
<body th:if="${typeList} != null">
<div th:include="schoolpage/common :: header"></div>
<section class="show" id="loop">
	<img th:each="resource,resourceStat:${schoolviewlist}" th:src="@{/static/uploadImg/schoolview/{image}(image=${resource.reSpare})}" alt="">
<!--             <img src="./images/slide-1.jpeg" alt=""> -->
<!--             <img src="./images/slide-2.jpeg" alt=""> -->
<!--             <img src="./images/slide-3.jpg" alt=""> -->
<!--             <img src="./images/slide-4.jpeg" alt=""> -->
            <ul id="loop_ul">
                <li class="chance"></li>
                <li class="old"></li>
                <li class="old"></li>
                <li class="old"></li>
            </ul>
            <span id="spanleft" class="spanleft"></span>
            <span id="spanright" class="spanright"></span>
    </section>
    <section class="tongzhi">
        <div class="center">
            <span class="glyphicon glyphicon-bullhorn">

            </span>
            <div id="letter" class="letter">
                <ul id="ul1" class="ul_p">
                 <li th:each="resource,resourceStat:${informlist}"><a href="#" th:href="@{/dynamic/readDynamic?(reId=${resource.reId})}" th:text="${resource.reTitle}"></a></li>
<!--                     <li><a href="#">我是贺新安我造了 第一条通知</a></li> -->
<!--                     <li><a href="#">我是张三我造了 第二条通知</a></li> -->
<!--                     <li><a href="#">我是李四我造了 第三条通知俺收到了；看；考虑；1</a></li> -->
<!--                     <li><a href="#">我事耿五我造了 第五条通知奥斯卡的；1；发神经了看到</a></li> -->
<!--                     <li><a href="#">我是嘛溜我造了 第六条通知你知道这是文身决定是否考虑看</a></li> -->
                </ul>
                <ul id="ul2" class="ul_p"></ul>
            </div>
        </div>
    </section>
    <main>
        <section class="news public-title">
                <h3><i class="glyphicon glyphicon-list-alt"></i>热点新闻 <span>Campus News<span></h3>
                <a href="#" th:each="resource,resourceStat:${newslist}" th:href="@{/dynamic/readDynamic?(reId=${resource.reId})}">
                        <div class="new-hot">
                               <img th:src="@{/static/uploadImg/uploadnew/{image}(image=${resource.reSpare})}" alt="">
                                <p th:text="${resource.reTitle}"></p>
                            </div>
                </a>
        </section>
        <section class="newlearn ">
            <div class="time-new public-title">
                <h3><i class="glyphicon glyphicon-tasks" ></i>教育成果 <span>Education And Research</span></h3>
                <a class="new-every" href="" th:each="resource,resourceStat:${educatelist}" th:href="@{/educate/readEducate?(reId=${resource.reId})}">
                    <span class="time" th:text="${resource.reReleasedate}">2017-12-23 </span>
                    <p class="lea" th:text="${resource.reTitle}">
                        <span>&nbsp&nbsp</span>
                       
                    </p>
                </a>
            </div>
            <div class="learn">
                <div class="title-tongzhi public-title">
                        <h3><i class="glyphicon glyphicon-bullhorn" style="color:#fff"></i>新闻与通知<span style="color:#fff">New and Infor</span></h3>
                </div>
                 <a class="new-every" href="" th:each="resource,resourceStat:${informlist}" th:href="@{/dynamic/readDynamic?(reId=${resource.reId})}">
                                <p class="infor" th:text="${resource.reTitle}">
                                    <span>>&nbsp&nbsp</span>
                                </p>
                  </a>
                 <a class="new-every" href="" th:each="resource,resourceStat:${newslist}" th:href="@{/dynamic/readDynamic?(reId=${resource.reId})}">
                   <p class="infor" th:text="${resource.reTitle}">
                   <span>>&nbsp&nbsp</span>
                   </p>
                 </a>
            </div>
        </section>
        <section class="teacher">
                  <h3 class="title-teach">
                    <span class="img-l"></span>
                   		 教师风采
                    <span class="img-r"></span>
                </h3>
                 <div class="teacher-s">
                    <div class="t-left">
                        <div id="t-left-tea">
                            <div class="tea-cl">省市名师</div>
                            <span>
                                >
                            </span>    
                        </div>
                         <div>
                            <div class="tea-cl">特级教师</div>
                            <span>
                                >
                            </span>    
                        </div>    
                         <div>
                            <div class="tea-cl">骨干教师</div>
                            <span>
                                >
                            </span>    
                        </div>    
                         <div>
                            <div class="tea-cl">青年新秀</div>
                            <span>
                                >
                            </span>    
                        </div>                            
                    </div>
                    <div class="t-right">
                            <div id="aa" class="loop2">
                                    <div id="bb" class="contain1" >
                                          <a href="" th:each="user,userStat:${teacherList}" style="margin-right:5px;">
                                			<img th:src="@{/static/uploadImg/{image}(image=${user.usImage})}" width="200px"  height="200px" alt="暂无照片">
                                			 <div class="scale"></div>
                                			<div class="t-infor" th:text="${user.usName}">
                                				<p th:text="${user.usName}">贺新安</p>
                                               
                                			</div>
                            			 </a>
                                    </div>
                                    <div id="cc" class="contain2">
                                    </div>
                            </div>
                    </div>
                </div>
               <!--  <div id="aa" class="loop2">
                        <div id="bb" class="contain1">
                            <a href="" th:each="user,userStat:${teacherList}" style="margin-right:5px;">
                                <img th:src="@{/static/uploadImg/{image}(image=${user.usImage})}" width="200px"  height="200px" alt="暂无照片">
                                <p class="t-infor" th:text="${user.usName}">我是贺新安</p>
                            </a>
                        </div>
                        <div id="cc" class="contain2">
                        </div>
                </div> -->
                <div class="study">

                </div>
        </section>
        <section class="a">
              
        </section>
    </main>
    <div th:include="schoolpage/common :: footer"></div>
</body>
<script type="text/javascript" th:src="@{./static/js/index.js}"></script>
<script type="text/javascript" th:src="@{./static/js/loop.js}"></script>
<script type="text/javascript" th:src="@{./static/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{./static/js/xidinghe.js}"></script>
<script type="text/javascript" th:src="@{./static/js/counttime.js}"></script>
<script type="text/javascript">
	function chooseLL(a){
		var value = a;
		var params ={"identity":value}
	$.ajax({  
        type: "post",  
        url: "/school/getTeacher?identity="+value,
        contentType: "application/x-www-from-urlencoded; charset=utf-8",
        success: function (data) {
        var html
        $.each(data.user, function(j,val){
        html +='<a'+' th:href="@{}"'+' style="margin-right:5px;" >'
 		+'<img'+' src="./static/uploadImg/'+val.usImage+'"'+'width="200px"'+'height="200px"'+'alt="暂无照片"'+'>'
 		+'<div'+' class="scale"'+'></div>'+
 		'<div'+' class="t-infor"'+'>'+'<p>'+val.usName+'</p>'+'</div>'+'</a>';
		});
		 $('#bb').html(html)
		 $('#cc').html(html)  
        }   
    });
    }
</script>
<script th:if="${typeList} != null">
 xiding("#nav-1");
var obj1 = {
    container_id:'loop',      //  必要参数
    ul_id:'loop_ul',          //  次要 默认  为空
    span_left_id:'spanleft',  // 次要 默认  为空
    span_right_id:'spanright',// 次要 默认  为空
    li_one_class:'old',       // 次要 默认  为空
    li_chance_class:'chance'  // 次要 默认  为空
}
Carousel_opcity(obj1);
var obj2 = {
    w_id:'aa',   //必要参数 
    c_id:'bb',    //必要参数
    c_copy_id:'cc' //必要参数
}
loop(obj2);
var obj3 = {
    w_id:'letter',   //必要参数 
    c_id:'ul1',    //必要参数
    c_copy_id:'ul2' //必要参数
}
loop(obj3);
function click_display(a){
    var cc = $(a);
    $(a).click(function(){
        for(var i = 0;i<cc.length;i++){
            $(cc[i]).attr('id','');
        }
        $(this).attr('id','t-left-tea');
        var chooseArgu = $(this.getElementsByTagName("div")[0]).text();
        chooseLL(chooseArgu);
    });
}
click_display('.t-left>div');
</script>

<script type="text/javascript" th:if="${examTime} != null and ${typeList} != null">
	var examTime = '[[${examTime.reContent}]]';
	var spantime =days(examTime);
	 $('#timecuten').html(spantime);
</script>
</html>