.news{
    width: 80%;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
    overflow: hidden;
}
.news span{
    display: inline-block;
    height: 80%;
    vertical-align: top;
    margin-top:5px;
    margin-right:10px;
}
.above{
    width: 40px;
    background-image: url('../images/accessory (6).png');
    background-size:100% 100%;
}
.back{
    width: 100px;
}
.news a{
    display: inline-block;
    width: 70%;
    height: 100%;
}
.news a:hover{
    color:#EF3D3D;
}