.container{
	width: 600px;
	height: 500px;
	margin:20px auto; 
}
.pow{
	width: 100%;

}
.pw1{
	width: 
}
#pwd1,#pwd2{
	 
	margin-bottom: 20px
}
.submit{
	width: 320px;
	margin-left: 115px;
	letter-spacing: 20px;
	text-align: center;
}