    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a{
        text-decoration: none;
        color:#282828;
    }
    a:hover{
        text-decoration: none;
        color: #000;
        cursor: pointer;
    }
    a:visited{
        text-decoration: none;
        color: #000;
    }
    .center{
        width:1200px;
        height: 100%;
        margin: 0 auto;
    }



    /*  头部 */
header{
    width: 100%;
    height:130px;
    margin: 0 auto;
    position: relative;
    background-image: url(../images/head.jpg);
   
    min-width: 1000px;
}
    .header{
        width: 1100px;
        padding: 0;
        position: relative;
        margin: 0 auto;
        border-radius: 5px;
    }
        .logo{
            width: 50%;
        }
            .logo img{
                width: 80%;
                height: 100px;
                margin-top: 20px;
            }
        .headerRight{
            position: absolute;
            font-size: 16px;
            right:0;
            top:28px;
            color: #000;
        }
            .headerRight p{
                line-height: 20px;
                text-align: right;
            }

/*  底部 */
footer{
width: 100%;
min-width: 1000px;
background-color:#282828;
margin:0 auto;
margin-top: 10px;
border-top: 2px solid #883C92;
}
    .f-center{
        width: 1000px;
        height: 270px;
        margin: 0 auto;
        font-size: 0px;
    }
        .f-center>div{
            width: 25%;
            height: 100%;
            display: inline-block;
            font-size: 12px;
            vertical-align: top;
            padding: 40px 0px;
            color: #fff;
        }
        .f-center>div img{
            width: 80%;
            margin-top: 20%;
        }
        .f-center>div>p{
            font-size: 14px;
            font-weight: 500px;
            /* color: #000; */
        }
        .f-center>div>h3{
            font-size: 16px;
            /* color: #000; */
        }
        .f-center>div a{
            color: #fff;
        }
/*导航  部分  */
    nav{
        width: 100%;
        height: 50px;
        background-color: #883C92;
        z-index: 10000;
        transition: all 0.5s;
    }
    nav ul{
        width: 1200px;
        margin: 0 auto;
        font-size: 0px;
    }
        .nav-li{
            width: 11.1%;
            height: 100%;
            line-height: 49px;
            display: inline-block;
            font-size: 16px;
            text-align: center; 
            vertical-align:top;
            position: relative;
        }
        .nav-li>a{
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        .nav-li:hover{
            font-weight: 600;
        }
        .nav-li:hover>a{
            background-color: #fff;
            color: #883C92;
            border-bottom: 1px solid #fff;
        }
            .chances{
                z-index: 1000;
                position: absolute;
                width: 100%;
                height: 0px;
                font-size: 14px;
                transition: height 0.5s;
                overflow: hidden;
            }
            .nav-li:hover .chances{
                height: 240px;
                font-weight:400;
            }
            .chances a{
                width: 100%;
                height: 40px;
                display: block;
                background-color: #fff;
                border-bottom: 1px solid #fff;
                color: #883C92;
            }
             .chances>a:hover{
                font-weight:600;
            }



/*   分页   中的各个部分  */
.p-img{
    width:100%;
    min-width: 1200px;
    height:300px;
    margin: 0 auto;
    background-size: 100% 100%;
}
  /*   所有的内容   */
  .content-info{
    width: 100%;
    overflow: auto;
    zoom: 1;
}
.main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: auto;
    zoom: 1;
}
    .info-left{
        float: left;
        width: 200px;
        position: relative;
        border-left: 2px solid #883C92;
    }
        .info-left h3{
            width: 100%;
            height:60px;
            margin: 0;
            line-height: 60px;
            padding: 0 30px;
        }
        .info-left dt{
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding: 0 30px;
            margin-left:-2px;
            font-size: 18px;
            font-weight: 400;
            border-left: 2px solid #883C92;
        }
        .dt2{
            background-color: #883C92;
            border-left: 2px solid #666;
            color:#fff;
        }
        .dt2 a{
            color:#fff;
        }
        .info-left dt:hover{
            background-color: #883C92;
            border-left: 2px solid #666;
            color: #fff;
        }
        .info-left dt:hover a{
            color: #fff;
        }
    .info-right{
        width: 1000px;
        padding: 10px 30px;
        float: right;
        position: relative;
        min-height: 550px;
    }
        .info-right .top{
            margin-bottom: 40px;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #883C92;
        }
        .info-right .top .left{
            display: inline-block;
            vertical-align: bottom;            
            width: 20px;
            height: 50px;
            background-color: #883C92;
            font-size: 22px;
            color: #fff;
        }
        .info-right .top .left-1{
            width: 300px;
            height: 50px;
            vertical-align: bottom;
            display: inline-block;
            line-height: 50px;
            text-align: center;
            letter-spacing: 5px;
            font-size: 20px;
        }
        .info-right .bottom{
            margin-top: 20px;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        .info-right .bottom a{
            display: inline-block;
            width: 100px;
            height: 40px;
            background-color: #20a0f0;
            vertical-align: center;
            line-height: 40px;
        }
    /* 图片  点击出现  蒙版框的效果*/
    .end{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1000;
        background:rgba(0,0,0,0.5);
        display: none;
    }
    .end-cneter{
        margin: 0 auto;
        margin-top: 150px;
        width: 700px;
        height: 500px;
        background-color: #dadada;
        border-radius: 4px;
        border:1px solid #863939;
    }
    .end-cneter img{
        padding: 10px 10px;
        display: block;
        width: 90%;
        height: 80%;
        margin: 0 auto;
    }
    .end-cneter p{
        width: 100%;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        margin: 0px;
    }
    
    
    /*分页标题  */
    .p-title{
        text-align: center;
        border-bottom: 1px solid #dadada;
        margin-bottom: 5px;
    }
    .p-title h3{
        letter-spacing: 10px;
    }
    .p-title p{
        font-size: 12px;
        line-height: 30px;
    }
    