
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F1F1;
}
.middle{
    width: 600px;
    height: 1000px;
    background-color: #F1F1F1;
    font-size: 1.2em;
    font-family:Tahoma;
    margin: 20px auto;
    position: relative;
}
.form-group{
    width: 100%;
    position: relative;
    height: 40px;
    /*margin-bottom:50px;*/
    /*background: lightblue*/
}
.up{
    position: relative;
    height: 300px;
    margin-bottom: 20px;
    /*background: gray*/
} 

.box{
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px
}
.form-label{
    float: left;
    display: block;
    text-align: left;
    padding: 9px 0px;
    width: 100px;
    font-weight: 400;
   /* text-align: right;*/
    line-height: 20px;
    position: relative;
    
}
.obtn{
	background:red;
}
.form-input{
    float: left;
    width: 290px;
    font-size: 14px
}
 
.form-input .oinput{
    display: block;
    width: 100%;
    padding-left: 10px;
    height: 35px;
    border: 1px solid #ddd;
    /*background: transparent;*/
    border-radius: 5px;
    outline: none;
}
.name{
    height: 30px;
    border-radius: 4px;
    border: 1px solid #A9A9A9;
    outline: none;
}
 p{
    font-weight:bolder;
    font-size: 25px;
    font-family:"楷体";

 }

   .obtn{
     width:80px;
     height:32px;
     background:#f1f1f1;
     border-radius:3px;
     margin-right:20px;
     border:1px solid #cbcbcb;
     line-height: 15px;
     margin-top:2px;
     margin-left: -2px;
     text-align: center;
   }
   .upd{
     width:290px;
     height:35px;
     background:#427FB8;
     border-radius:4px;
     margin-right:20px;
     border:1px solid #eee;
     line-height: 15px;
     margin-top:20px;
     text-align: center;
     color: #fefefe;
     font-size: 20px
   }
   .upd:hover{
    background: #2D689F
   }
