<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="${msg}"></p>
	<div id="ed">
		<form th:action="@{/teacherResearch/saveTeacherResearch?reTypeid=4}"
			method="post" th:object="${resource}">
			<p th :text="${title}">教研</p>
			教研题目:<input type="text" name="reTitle"><br> 教研内容：
			<td colspan="4"><div id="div1"></div> <textarea
						style="display: none" name="reContent" id="edit"></textarea>
					</td>
			<button onclick="editor.txt.clear()">清空</button>
			<input onclick="sub()" type="submit">
		</form>
		</div>
	<script th:src="@{/static/fonts/wangEditor.min.js}"></script>
	<script type="text/javascript">
		var E = window.wangEditor
		var editor = new E('#div1')
		editor.customConfig.uploadImgShowBase64 = true
		editor.create()
		document.getElementById('btn1').addEventListener('click', function() {
			// 读取 html
			alert(editor.txt.html())
		}, false)
		document.getElementById('btn2').addEventListener('click', function() {
			// 读取 text
			var edit = document.getElementById("edit");
			edit.value = editor.txt.text();
			/* alert(edit.value) */
		}, false)
		function sub() {
			// 读取 text
			editor.customConfig.uploadImgServer = '/uploading'
			editor.customConfig.uploadFileName = 'yourFileName'
			var edit = document.getElementById("edit");
			edit.value = editor.txt.text();
			/* alert(edit.value) */
		}
	</script>
	<script>
		var div1 = document.getElementById('div1')
		var textarea = document.getElementsByTagName('textarea')
		textarea.innerHTML = div1.innerHTML;
	</script>
</body>
</html>