<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="${msg}"></p>
	<form th:action="@{/teacherResearch/saveTeacherResearch?reTypeid=4}"
			method="post" th:object="${resource}">
		<div>
		<table border="4">
			<tr>
				<td>标题<input type="text" name="reTitle"
					style="border: none; outline: none"></td>
			</tr>
			<tr>
				<th colspan="4">内容</th>
			</tr>
			<tr>
				<td colspan="4"><div id="div1"></div> <textarea
						style="display: none" name="reContent" id="edit"></textarea></td>
			</tr>
			</table>
		</div>
		<button onclick="editor.txt.clear()">清空</button>
		<input onclick="sub()" type="submit">
	</form>
	<script th:src="@{/static/fonts/wangEditor.min.js}"></script>
	<script type="text/javascript">
		var E = window.wangEditor
		var editor = new E('#div1')
		editor.customConfig.uploadImgShowBase64 = true
		editor.create()
		function sub() {
			// 读取 text
			editor.customConfig.uploadImgServer = '/uploading'
			editor.customConfig.uploadFileName = 'yourFileName'
			var edit = document.getElementById("edit");
			edit.value = editor.txt.html();
			/* alert(edit.value) */
		}
	</script>
	<!-- <script>
		var div1 = document.getElementById('div1')
		var textarea = document.getElementsByTagName('textarea')
		textarea.innerHTML = div1.innerHTML;
	</script> -->
</body>
</html>