<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <link rel="stylesheet" type="text/css" th:href="@{../static/dist/css/wangEditor.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/dist/css/wangEditor.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/css/genera.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/css/user.css}">
  <script type="text/javascript" th:src="@{../static/js/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript">
  	 function modifyContent() {    	
     	        var introduce = document.getElementById("reContent");   	    
     	        introduce.value = editor.$txt.html();
   }
  </script>
</head>
<body>
	<div class="middle">
    <div class="inside">
    <p th:text="${news}"></p>
      <form class="form-horizontal" role="form" th:if="${typelist} != null" th:action="@{/resource/addGeneraLization}" method="post" onsubmit="modifyContent()" enctype="multipart/form-data">
        <div class="form-group">
                <label class="col-sm-2 control-label">主类型</label>
                <div class="col-sm-10">
                    <select class="form-control" name="tyPid" id="tyPid">
			            <option th:value="2">学校概括</option>
			            <option th:value="3">校园动态</option>
			            <option th:value="4">教育教研</option>
			            <option th:value="8">通知</option>
			            <option th:value="10">教师成长</option>
                    </select>
                </div>
            </div>
        
        <div class="form-group">
          <label class="col-sm-2 control-label">类型</label>
          <div class="col-sm-10">
            <select class="form-control" name="reTypeid" id="reTypeid">
             <option th:each="type,typeStat:${typelist}" th:value="${type.tyId}" th:text="${type.tyCategoryname}"></option>
            </select>
          </div>
        </div>
         <div class="form-group">
			<div class="message">
				<label class="col-sm-2 control-label">通知类别</label>
				<div class="col-sm-10">
					<select class="form-control" name="reSpare" id="select">
						<option th:value="一般">一般</option>
						<option th:value="特别重要">特别重要</option>
					</select>
				</div>
			</div>
		</div>
        <div class="form-group">
          <label  class="col-sm-2 control-label">标题</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
                   placeholder="请输入标题" name="reTitle">
          </div>
        </div>
         <div class="form-group">
          <div class="editor">
             <div class="form-group">
              <label  class="col-sm-3 control-label">内容</label>
             </div>
        	   <textarea rows="5" cols="35" name="reContent"  style="display:none;" id="reContent"></textarea><br>
     			<div id="editor"  style="width:100%; height:400px;"></div>
     			<script type="text/javascript" th:src="@{../static/dist/js/lib/jquery-1.10.2.min.js}"></script>
  				<script type="text/javascript" th:src="@{../static/dist/js/wangEditor.min.js}"></script>
    			<script type="text/javascript">
	        		var E = window.wangEditor
 	        		var editor = new E('editor')    		 
 		     		editor.config.uploadImgUrl = '/school/resource/uploadImg'
 		     		editor.config.uploadImgFileName = 'myFileName'
 	       		 	editor.create()
    			</script>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <input class="btn btn-info" value="添加信息" type="submit" id="submit">
          </div>
        </div>
      </form>
    </div><!--inside-->
  </div><!--middle-->
	
	
<!-- 	<span th:text="${news}"></span> -->
<!-- 	<form th:if="${typelist} != null" th:action="@{/resource/addGeneraLization}" method="post" onsubmit="modifyContent()" enctype="multipart/form-data"> -->
<!-- 		type:<select name="reTypeid" id="reTypeid"> -->
<!--         	<option th:each="type,typeStat:${typelist}" th:value="${type.tyId}" th:text="${type.tyCategoryname}"></option> -->
<!--         </select><br>  -->
<!--         	标题:<input type="text" name="reTitle"><br> -->
<!--                     内容:<div style="width:600px; height:500px; margin-top: 100px;" id="content"> -->
<!-- 				<textarea rows="5" cols="35" name="reContent"  style="display:none;" id="reContent"></textarea><br> -->
<!--      			<div id="editor" style="width:100%; height:400px;"></div> -->
<!--      			<script type="text/javascript" th:src="@{../static/dist/js/lib/jquery-1.10.2.min.js}"></script> -->
<!--   				<script type="text/javascript" th:src="@{../static/dist/js/wangEditor.min.js}"></script> -->
<!--     			<script type="text/javascript"> -->
<!--  	        		var E = window.wangEditor -->
<!--  	        		var editor = new E('editor')    		  -->
<!--  		     		editor.config.uploadImgUrl = '/school/resource/uploadImg' -->
<!--  		     		editor.config.uploadImgFileName = 'myFileName' -->
<!--  	       		 	editor.create() -->
<!--     			</script> -->
<!-- 			</div><br> -->
<!-- 			<input type="submit" value="添加"> -->
<!-- 	</form> -->
<!-- </body> -->
</body>
<script type="text/javascript">
      $('#tyPid').change(function(data) {
       var value = $('#tyPid').val()
       if(value == 8) {
        	$('.message').slideDown()
        	$('#select').attr("disabled", false);
        } else {
        	$('#select').attr("disabled", true);
        	$('.message').slideUp()
        }
        $.ajax({  
        type: "post",  
        url: "/school/type/getType?tyPid="+value,
        contentType: "application/x-www-from-urlencoded; charset=utf-8",
        success: function (data) {
        var html
        $.each(data.type, function(j,val){
        html+='<option'+' value="'+val.tyId+'">'+val.tyCategoryname+'</option>'
		});
		$('#reTypeid').html(html)
        }   
    });
      })  
  </script>
</html>