<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
</head>
<body>
	<p th:text="${news}"></p>
	<form th:if="${officialemail} != null" th:action="@{/user/addOfficialUser}" method="post">
		<input type="hidden" name="usIdentityname" th:value="${officialemail}">
		官方邮箱:<input type="text" name="usEmail" id="usEmail">
		邮箱授权码:<input type="text" name="usPassword"><br>
		smtp服务器地址:<input type="text" name="usName"><br>
		<input type="submit" id="submit" value="添加">
	</form>
</body>
</html>