<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
</head>
<body>
	<span th:text="${news}"></span>
	<form th:if="${typeid} != null" th:action="@{/resource/addSchoolNews}" method="post" enctype="multipart/form-data">
       <input type="hidden" name="reTypeid" th:value="${typeid}">             
                  学校电话:<input type="text" name="reTitle"><br>
                  学校邮箱:<input type="text" name="reContent"><br>
                  学校地址:<input type="text" name="rePublisher"><br>      
			<input type="submit" value="添加">
	</form>
</body>
</html>