<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
</head>
<body>
	<span th:text="${news}"></span>
	<form th:if="${typelist} != null" th:action="@{/resource/addUploadFile}" method="post" enctype="multipart/form-data">
		type:<select name="reTypeid" id="reTypeid">
        	<option th:each="type,typeStat:${typelist}" th:value="${type.tyId}" th:text="${type.tyCategoryname}"></option>
        </select><br> 
                   标题:<input type="text" name="reTitle"><br>
                   上传文件:<input type="file" name="file" id="file"><br>
			<input type="submit" value="添加">
	</form>
</body>
</html>