<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{./static/css/login.css}"> -->
   <link rel="stylesheet" type="text/css" th:href="@{./static/css/admin_style.css}" />
   <link rel="stylesheet" type="text/css" th:href="@{./static/fonts/iconfont.css}">
   <link rel="stylesheet" type="text/css" th:href="@{./static/css/iconfont.css}">
   <script type="text/javascript" th:src="@{./static/js/jquery-3.2.1.min.js}"></script>
</head>
<body style="overflow:hidden;">
<!--头部内容-->
<div class="top">
	<div class="admin_logo">
		<img src="./static/images/logo.png">
		<p class="top-word">一二一中学管理系统</p>
		<p class="bottom-word"><em>Middle schoolsysterm</em></p>
	</div>
	<div class="top_nav">
		<ul class="menu">
			<li><a href="default.html" target="content">网站管理</a></li>
			<li><a href="default.html" target="content"class="pitch" >后台首页</a></li>
			<li><a href="https://www.baidu.com/?tn=96928074_hao_pg"  target="content" >菜单设置</a></li>
			<li><a href="#">文章管理</a></li>
			<li><a href="#">采集设置</a></li>
			<li><a href="#">广告管理</a></li>
			<li><a href="#">数据管理</a></li>
			<li><a href="#">用户管理</a></li>
		</ul>
	</div>
	<div class="top_member">
		欢迎您，Admin | <a href="#">帐号管理</a>
	</div>
</div>
<div class="side_switch" id="side_switch">
</div>
<div class="side_switchl" id="side_switchl">
</div>
<!--左侧内容-->
<div class="left">
	<div class="member_info">
		<div class="member_ico">
		<img src="images/a.png" width="43" height="43">
	     </div>
		<a th:href="@{/logout?identity=manager}" class="system_logout">退出</a></div>
	<!--左侧子菜单-->
	<div class="left-son">
		<div class="left_title">常用功能操作</div>
		<ul class="side">
			<li><a href="kindtable.html" target="content">网站栏目管理</a></li>
			<li><a href="#" class="selected">后台首页</a></li>
			<li><a href="">校园项目管理</a></li>
			<li><a href="#">校园项目管理</a></li>
			<li><a href="#">校园项目管理</a></li>
			<li><a href="#">校园项目管理</a></li>
		</ul>
		
		
		<div class="nav">
			<ul class="leftmenu">
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>用户信息</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{user/toaddUser?tyPid=1}" target="content"><span>添加用户</span></a></li>
						<li><a th:href="@{user/selectUser}" target="content"><span>用户管理</span></a></li>
						<li><a th:href="@{user/toaddOfficialUser?tyPid=1}" target="content"><span>添加官方邮箱</span></a></li>
						<li><a th:href="@{user/selectOfficialUser?identity=officialemail}" target="content"><span>官方邮箱管理</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-leibie"></i><span>类别信息</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{type/toAddType}" target="content"><span>添加类别</span></a></li>
						<li><a th:href="@{type/selectType}" target="content"><span>类别管理</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-ziyuan"></i><span>校园信息</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{resource/toaddGeneraLization?tyPid=2}" target="content"><span>添加校园概括</span></a></li>
<!-- 						<li><a th:href="@{resource/toaddGeneraLization?tyPid=3}" target="content"><span>添加校园动态</span></a></li> -->
<!-- 						<li><a th:href="@{resource/toaddGeneraLization?tyPid=4}" target="content"><span>添加教育教研</span></a></li> -->
<!-- 						<li><a th:href="@{resource/toaddGeneraLization?tyPid=8}" target="content"><span>添加校园通知</span></a></li> -->
						<li><a th:href="@{resource/toaddSchoolNews?tyPid=13}" target="content"><span>添加学校信息</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=2}" target="content"><span>查看校园概括</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=3}" target="content"><span>查看校园动态</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=4}" target="content"><span>查看教育教研</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=8}" target="content"><span>查看校园通知</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=13}" target="content"><span>查看学校信息</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-liuyan"></i><span>时间与链接</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{resource/toaddAllTime?tyPid=11}" target="content"><span>添加时间</span></a></li>
						<li><a th:href="@{resource/toaddLink?tyPid=7}" target="content"><span>添加链接</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=11}" target="content"><span>查看时间</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=7}" target="content"><span>查看链接</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>文件与作品</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{resource/toAddResource?tyPid=12}" target="content"><span>添加校园新闻</span></a></li>
						<li><a th:href="@{resource/toaddUploadFile?tyPid=5}" target="content"><span>添加校园作品</span></a></li>
<!-- 						<li><a th:href="@{resource/toaddUploadFile?tyPid=6}" target="content"><span>添加校园资源</span></a></li> -->
<!-- 						<li><a th:href="@{resource/toaddSchoolView?tyPid=9}" target="content"><span>添加校园风景</span></a></li> -->
						<li><a th:href="@{resource/selectResource?reTypeid=12}" target="content"><span>查看校园新闻</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=5}" target="content"><span>查看校园作品</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=6}" target="content"><span>查看校园资源</span></a></li>
						<li><a th:href="@{resource/selectResource?reTypeid=9}" target="content"><span>查看校园风景</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-shijian"></i><span>留言</span><i class="my-icon nav-more"></i></a>

					<ul>
						<li><a th:href="@{messages/selectMessage?replace=0}" target="content"><span>未回复留言</span></a></li>
						<li><a th:href="@{messages/selectMessage?replace=1}" target="content"><span>已回复留言</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>个人资料</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{user/getMyMessage}" target="content"><span>修改个人资料</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div><!--left-son-->
	<script>window.jQuery || document.write('<script> src="./static/js/jquery-3.2.1.min.js"><\/script>')</script>
	<script type="text/javascript" th:src="@{./static/js/nav.js}"></script>
</div><!--left-->
<!-- <!--右侧iframe内容--> -->
<!-- <div class="right" style="overflow-x:hidden;overflow-y:auto;margin-left:205px;" > -->
<!-- 	<iframe id="content" name="content" src="default.html" -->
<!-- 			frameBorder="0" scrolling="no" width="100%" height="1000px"></iframe> -->
<!-- 	<script type="text/javascript"> -->
<!-- //         function reinitIframe(){ -->
<!-- //             var iframe = document.getElementById("content"); -->
<!-- //             try{ -->
<!-- //                 var bHeight = iframe.contentWindow.document.body.scrollHeight; -->
<!-- //                 var dHeight = iframe.contentWindow.document.documentElement.scrollHeight; -->
<!-- //                 var height = Math.max(bHeight, dHeight); -->
<!-- //                 iframe.height = height+50; -->
<!-- //             }catch (ex){} -->
<!-- //         } -->
<!-- //         $("#content").load(function () { -->
<!-- //             reinitIframe(); -->
<!-- //         }) -->
<!-- 	</script> -->
<!-- </div> -->
<!--右侧iframe内容-->
<div class="right" style="overflow-x:hidden;overflow-y:auto;margin-left:205px;" >
	<iframe style="overflow: visible;" id="content" name="content" src="welcome.html"
			frameBorder="0" scrolling="no" width="100%"height="100%"></iframe>
<script type="text/javascript">
        function reinitIframe(){
            var iframe = document.getElementById("content");
            try{
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);
                iframe.height = height+100;
                if (height>700){
                    $("#content").css("height","1100px");
                }
            }catch (ex){}
        }
        $("#content").ready(function () {
            reinitIframe();
        });
	</script>
</div>
<script type="text/javascript">
    //	top单击样式
    $('.top_nav .menu li a	').on('click',function () {
        $('.top_nav .menu li a	').removeClass('pitch')
        $(this).addClass('pitch')

    })
    //      左侧上部鼠标滑过样式
    $('.left .side li a	').on('mouseenter',function () {
        $('.left .side li a	').removeClass('selected')
        $(this).addClass ('selected')
    })
    //常用功能收缩
    $('.left_title').on('click',function(){
        $('.side').slideToggle();
    })
// 左侧子菜单单击样式
	$('.nav .nav-item ul li a').on('click',function(){
        $('.nav .nav-item ul li a').removeClass('show-hover')
	    $(this).addClass('show-hover')
	})
</script>




















<!-- <div style="width:20%;"> -->
<!-- 	<details> -->
<!-- 		<summary>用户信息管理</summary> -->
<!--         <a th:href="@{user/toaddUser?tyPid=1}">添加用户</a><br> -->
<!--         <a th:href="@{user/selectUser}">用户管理</a><br> -->
<!--          <a th:href="@{user/toaddOfficialUser?tyPid=1}">添加官方邮箱</a><br> -->
<!--         <a th:href="@{user/selectOfficialUser?identity=officialemail}">官方邮箱管理</a><br>           -->
<!--     </details> -->
<!--     <details> -->
<!-- 		<summary>类别信息管理</summary> -->
<!--         <a th:href="@{type/toAddType}">添加类别</a><br> -->
<!--         <a th:href="@{type/selectType}">类别管理</a><br>           -->
<!--     </details> -->
<!--     <details> -->
<!-- 		<summary>校园信息管理</summary> -->
<!-- 		<a th:href="@{resource/toaddGeneraLization?tyPid=2}">添加校园概括</a><br> -->
<!--         <a th:href="@{resource/toaddGeneraLization?tyPid=3}">添加校园动态</a><br> -->
<!--         <a th:href="@{resource/toaddGeneraLization?tyPid=4}">添加教育教研</a><br> -->
<!--         <a th:href="@{resource/toaddGeneraLization?tyPid=8}">添加校园通知</a><br> -->
<!--         <a th:href="@{resource/toaddSchoolNews?tyPid=13}">添加学校信息</a><br> -->
<!--     	<a th:href="@{resource/selectResource?reTypeid=2}">查看校园概括</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=3}">查看校园动态</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=4}">查看教育教研</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=8}">查看校园通知</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=13}">查看学校信息</a><br> -->
<!--     </details> -->
<!--     <details> -->
<!-- 		<summary>时间与链接管理</summary> -->
<!-- 	  <a th:href="@{resource/toaddAllTime?tyPid=11}">添加时间</a><br> -->
<!-- 	  <a th:href="@{resource/toaddLink?tyPid=7}">添加校园链接</a><br> -->
<!-- 	  <a th:href="@{resource/selectResource?reTypeid=11}">查看时间</a><br> -->
<!-- 	  <a th:href="@{resource/selectResource?reTypeid=7}">查看校园链接</a><br> -->
<!--     </details> -->
<!--     <details> -->
<!-- 		<summary>文件信息管理</summary> -->
<!--         <a th:href="@{resource/toAddResource?tyPid=12}">添加校园新闻</a><br> -->
<!--         <a th:href="@{resource/toaddUploadFile?tyPid=5}">添加校园作品</a><br> -->
<!--         <a th:href="@{resource/toaddUploadFile?tyPid=6}">添加校园资源</a><br> -->
<!--         <a th:href="@{resource/toaddSchoolView?tyPid=9}">添加校园风景</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=12}">查看校园新闻</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=5}">查看校园作品</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=6}">查看校园资源</a><br> -->
<!--         <a th:href="@{resource/selectResource?reTypeid=9}">查看校园风景</a><br> -->
<!--     </details> -->
<!--     <details> -->
<!-- 		<summary>留言管理</summary> -->
<!-- 		<a th:href="@{message/toAddMessage}">添加留言</a><br> -->
<!-- 		<a th:href="@{messages/selectMessage?replace=0}">未回复留言</a><br> -->
<!-- 		<a th:href="@{messages/selectMessage?replace=1}">已回复留言</a><br> -->
<!--     </details> -->
<!-- </div> -->
<!-- 	<details> -->
<!-- 		<summary>个人中心</summary> -->
<!--        <a th:href="@{user/getMyMessage}">修改个人资料</a> -->
<!--     </details> -->
</body>

</html>