<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <link rel="stylesheet" type="text/css" th:href="@{../static/dist/css/wangEditor.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/css/formpost.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../static/css/user.css}">
   <script type="text/javascript">
     function modifyContent() {    	
     	        var introduce = document.getElementById("reContent");   
     	        introduce.value = editor.$txt.html();
   }
  </script>
</head>
<body>
<div class="middle">
    <div class="inside">
    <p th:text="${news}"></p>
      <form class="form-horizontal" role="form" th:if="${typelist} != null and ${resource} != null" th:action="@{/resource/updateUploadFile}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="reId" id="reId" th:value="${resource.reId}">
        <div class="form-group">
          <label class="col-sm-2 control-label">类型</label>
          <div class="col-sm-10">
            <select class="form-control" name="reTypeid" id="reTypeid" >
             <option th:each="type,typeStat:${typelist}" th:selected="${type.tyId} == ${resource.reTypeid}" th:value="${type.tyId}" th:text="${type.tyCategoryname}"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label  class="col-sm-2 control-label">标题</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"
                   placeholder="请输入标题" name="reTitle" th:value="${resource.reTitle}">
          </div>
        </div>
        
        <div class="form-group paper">
         <label  class="col-sm-2 control-label">文件/作品</label>
          <a href="javascript:" class="file">选择文件
            <input type="file" name="file" id="file">
          </a>
        </div>
        
        <div class="form-group">
          <div class="col-sm-10">
            <input class="btn btn-info" value="修改信息" type="submit" id="submit">
          </div>
        </div>
      </form>
    </div><!--inside-->
  </div><!--middle-->



<!-- 	<span th:text="${news}"></span> -->
<!-- 	<form th:if="${typelist} != null and ${resource} != null" th:action="@{/resource/updateUploadFile}" method="post" enctype="multipart/form-data"> -->
<!-- 		<input type="hidden" name="reId" id="reId" th:value="${resource.reId}"> -->
<!-- 		type:<select name="reTypeid" id="reTypeid"> -->
<!--         	<option th:each="type,typeStat:${typelist}" th:switch="${type.tyId}" th:case="${resource.reTypeid}" th:value="${type.tyId}" th:text="${type.tyCategoryname}"></option> -->
<!--         </select><br>  -->
<!--                    标题:<input type="text" name="reTitle" th:value="${resource.reTitle}"><br> -->
<!--                    上传文件:<input type="file" name="file" id="file"><br> -->
<!-- 			<input type="submit" value="添加"> -->
<!-- 	</form> -->
</body>
</html>