<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <link rel="stylesheet" type="text/css" th:href="@{../static/dist/css/wangEditor.min.css}">
</head>
<body>
	<span th:text="${news}"></span>
	<form th:if="${typeid} != null and ${resource} != null" th:action="@{/resource/updateSchoolView}" method="post" enctype="multipart/form-data">
          	<input type="hidden" name="reId" id="reId" th:value="${resource.reId}">
         <input type="hidden" name="reTypeid" th:value="${typeid}">
           <img alt="暂无图片" th:if="${resource.reSpare} != null" th:src="@{/static/uploadImg/schoolview/{image}(image=${resource.reSpare})}" width="100px" height="100px" /><br>         
                   标题:<input type="text" name="reTitle" th:value="${resource.reTitle}"><br>
                   上传图片:<input type="file" name="file" id="file"><br>
			<input type="submit" value="添加">
	</form>
</body>
</html>