<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
   <script type="text/javascript">
//   function seclectValue(){
//    	  	var verifyType = '[[${resource.reTypeid}]]';
// 		var type = document.getElementById('reTypeid');
// 		for(var i = 0;i < type.options.length; i++)
// 		{
// 		   var trueType = type.options[i];
// 		   if(verifyType == trueType.value.trim())
// 		   {
// 		     trueType.selected=true;
// 		   }
// 		}
//   	  }  
  	
     function modifyContent() {    	
     	        var introduce = document.getElementById("reContent");   
     	        introduce.value = editor.$txt.html();
   }
  </script>
</head>
<body>
	<span th:text="${news}"></span>
	<form th:if="${typelist} != null and ${resource} != null" th:action="@{/resource/updateUploadFile}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="reId" id="reId" th:value="${resource.reId}">
		type:<select name="reTypeid" id="reTypeid">
        	<option th:each="type,typeStat:${typelist}" th:switch="${type.tyId}" th:case="${resource.reTypeid}" th:value="${type.tyId}" th:text="${type.tyCategoryname}"></option>
        </select><br> 
                   标题:<input type="text" name="reTitle" th:value="${resource.reTitle}"><br>
                   上传文件:<input type="file" name="file" id="file"><br>
			<input type="submit" value="添加">
	</form>
</body>
</html>