<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
</head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div>
		<ul>
			<li>
				<ul>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">上传书法作品</a></li>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">上传优秀教案</a></li>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">上传优秀课件</a></li>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">上传优秀试卷</a></li>
					<li>
				</ul>
			</li>
			<li>
				<ul>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">提交教研成果</a></li>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">提交活动记录</a></li>
					<li><a th:href="@{jump/upload}"  th:target="mainFrame">更新教育动态</a></li>
					<li>
				</ul>
			</li>
			<li>
				<ul>
					<li><a th:href="@{/upload}" th:target="mainFrame">查看个人资料</a></li>
					<li><a th:href="@{/upload}"  th:target="mainFrame">修改密码</a></li>
					<li>
				</ul>
			</li>
		</ul>
		 <iframe name="mainFrame"   id="ifr">
	</iframe>
	</div>
</body>
</html>