<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>郑州一二一中学管理系统</title>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/admin_style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/fonts/iconfont.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/iconfont.css}">
	<script th:src="@{/static/js/jquery-2.1.1.min.js}"></script>
</head>
<body style="overflow:hidden;">
<!--头部内容-->
<div class="top">
	<div class="admin_logo">
		<img th:src="@{/static/images/logo.png}">
		<p class="top-word">一二一中学管理系统</p>
		<p class="bottom-word"><em>Middle SchoolSysterm</em></p>
	</div>
	<div class="top_nav">
		<ul class="menu">
				<li><a th:href="@{teacher/checkUser?(uri = checkuser)}" th:target="content">个人中心</a></li>
			<li><a th:href="@{jump/uploadaAchievements}"
						th:target="content">教学成果</a></li>
			<li><a th:href="@{jump/uploadIntrospection}"
								th:target="content">教学反思</a></li>
			<li><a th:href="@{teacher/showUpload(uri=showupload,reTypeid=11)}"
								th:target="content">优秀教案</a></li>
 			<li><a  href="http://jingao.site:8080/wordpress/">个人博客</a></li>
			<li><a href="#">回复留言</a></li>
			<li><a href="#">退出登陆</a></li> 
		</ul>
	</div>
	<div class="top_member">
		欢迎您，<span ><td th:text="${session.teacher.usName}"></td></span> 
	</div>
</div>
<div class="side_switch" id="side_switch">
</div>
<div class="side_switchl" id="side_switchl">
</div>
<!--左侧内容-->
<div class="left">
	<div class="member_info">
		<div class="member_ico">				
		<img th:src="@{/static/images/a.png}" width="43" height="43">
	     </div>
		<a th:href="@{login.html}" class="system_logout">退出</a></div>
	<!--左侧子菜单-->
	<div class="left-son">
		<div class="left_title">常用功能操作</div>
		<ul class="side">
			<li><a th:href="@{jump/uploadaAchievements}" th:target="content">教研中心</a></li>
			<li><a  href="http://jingao.site:8080/wordpress/">博客中心</a></li>
			<li><a th:href="@{teacher/showUpload?(uri=showedit,reTypeid=4)}" th:target="content" >校园通知</a></li>
			<li><a th:href="@{teacher/checkUser?(uri=checkuser)}" th:target="content">文件管理</a></li>
			<li><a th:href="@{teacher/checkUser?(uri=checkuser)}" th:target="content">个人资料</a></li>
		</ul>
		<div class="nav">
			<ul class="leftmenu">
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>教学教研</span><i class="my-icon nav-more"></i></a>
					<ul >
					<li th:each="educate,educateStat:${educate}"><a th:href="@{jump/uploadEdit?(Typepid=${educate.tyPid},TypeId=${educate.tyId},typeName=${educate.tyCategoryname})}" th:target="content"><span><td th:text="${educate.tyCategoryname}"></td></span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>教学风采</span><i class="my-icon nav-more"></i></a>
					<ul >
					<li th:each="literature,literatureStat:${literature}"><a th:href="@{jump/uploadEdit?(Typepid=${literature.tyPid},TypeId=${literature.tyId},typeName=${literature.tyCategoryname})}" th:target="content"><span><td th:text="${literature.tyCategoryname}"></td></span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>教师成长</span><i class="my-icon nav-more"></i></a>
					<ul >
					<li th:each="teacherGrow,teacherGrowStat:${teacherGrow}"><a th:href="@{jump/uploadEdit?(Typepid=${teacherGrow.tyPid},TypeId=${teacherGrow.tyId},typeName=${teacherGrow.tyCategoryname})}" th:target="content"><span><td th:text="${teacherGrow.tyCategoryname}"></td></span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-ziyuan"></i><span>教师园地</span><i class="my-icon nav-more"></i></a>
					<ul>
					<li><a  href="http://jingao.site:8080/wordpress/"><span>博客</span></a></li>
					<li><a  href="http://jingao.site:8080/wordpress/"><span>论坛</span></a></li>
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>资源中心</span><i class="my-icon nav-more"></i></a>
					<ul >
					<li><a th:href="@{teacher/showUpload(uri=showedit,reTypepid=${downloadType.tyPid})}" th:target="content"><span>已上传的资源</span></a></li>
					<li th:each="downloadType,downloadTypeStat:${downloadType}"><a th:href="@{jump/uploadFile?(Typepid=${downloadType.tyPid},TypeId=${downloadType.tyId},typeName=${downloadType.tyCategoryname})}" th:target="content"><span>资源上传</span></a></li>
					
					</ul>
				</li>
				<li class="nav-item feed">
					<a href="javascript:"><i class="iconfont icon-guanliyuan1"></i><span>个人中心</span><i class="my-icon nav-more"></i></a>
					<ul>
						<li><a th:href="@{teacher/checkUser?(uri = checkuser)}" th:target="content"><span>查看个人资料</span></a></li>
						<li><a th:href="@{teacher/checkUser?(uri = updatepassword)}" th:target="content"><span>修改密码</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div><!--left-son-->
	<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script> src="@{/static/js/jquery-1.11.0.min.js}"><\/script>')</script>
	<script type="text/javascript" th:src="@{/static/js/nav.js}"></script>
</div><!--left-->
<!--右侧iframe内容-->
<div class="right" style="overflow-x:hidden;overflow-y:auto;margin-left:205px;" >
	<iframe style="overflow: visible;" id="content" name="content" th:src="@{jump/welcome}"
			frameBorder="0" scrolling="yes" 	width="100%" height="100%"></iframe>
	<script type="text/javascript">
        function reinitIframe(){
            var iframe = document.getElementById("content");
            try{
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);
                iframe.height = height+50;
                console.log(height);
            }catch (ex){}
        }
        $("#content").load(function () {
            reinitIframe();
        })
	</script>
</div>
<script type="text/javascript">
    //	top单击样式
    $('.top_nav .menu li a	').on('click',function () {
        $('.top_nav .menu li a	').removeClass('pitch')
        $(this).addClass('pitch')

    })
    //      左侧上部鼠标滑过样式
    $('.left .side li a	').on('mouseenter',function () {
        $('.left .side li a	').removeClass('selected')
        $(this).addClass ('selected')
    })
    //常用功能收缩
    $('.left_title').on('click',function(){
        $('.side').slideToggle();
    })
// 左侧子菜单单击样式
	$('.nav .nav-item ul li a').on('click',function(){
        $('.nav .nav-item ul li a').removeClass('show-hover')
	    $(this).addClass('show-hover')
	})
</script>
</body>
</html>
