<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<ul>
			<li>
				<ul>
					<li><a th:href="@{jump/uploadaAchievements}"
						th:target="mainFrame">提交教学成果</a></li>
					<li><a th:href="@{jump/uploadEducationNews}"
						th:target="mainFrame">提交教学动态</a></li>
					<li><a th:href="@{jump/uploadLiterature}"
						th:target="mainFrame">提交文学作品</a></li>
					<li>教师成长
						<ul>
							<li><a th:href="@{jump/uploadCalligraphy}"
								th:target="mainFrame">上传优秀试卷</a></li>
							<li><a th:href="@{jump/uploadCalligraphy}"
								th:target="mainFrame">上传作业</a></li>
							<li><a th:href="@{jump/uploadCalligraphy}"
								th:target="mainFrame">上传优秀教案</a></li>
							<li><a th:href="@{jump/uploadCalligraphy}"
								th:target="mainFrame">上传基本功联系</a></li>
							<li><a th:href="@{jump/uploadCalligraphy}"
								th:target="mainFrame">上传教学反思</a></li>
							<li><a th:href="@{jump/uploadCalligraphy}"
								th:target="mainFrame">上传听课记录</a></li>
						</ul>
					<li>教师园地
						<ul>
							<li><a th:href="@{teacher/showUpload(uri=showedit)}"
								th:target="mainFrame">显示上传教学反思</a></li>
							<li><a th:href="@{teacher/showUpload(uri=showedit)}"
								th:target="mainFrame">显示教学成果</a></li>
							<li><a th:href="@{teacher/showUpload(uri=showedit)}"
								th:target="mainFrame">显示教学动态</a></li>
							<li><a th:href="@{teacher/showUpload(uri=showupload)}"
								th:target="mainFrame">显示上传文件</a></li>
						</ul>
					</li>
					<li>留言板块
						<ul>
							<li><a th:href="@{message/saveMessage}" th:target="mainFrame">我要留言</a></li>
							<li><a th:href="@{message/replyMessage}" th:target="mainFrame">回复留言</a></li>
							<li><a th:href="@{message/showMessage}" th:target="mainFrame">显示已回复的留言</a></li>
						</ul>

					</li>
				</ul>
			</li>
			<li>
				<ul>
					<li><a th:href="@{/upload}" th:target="mainFrame">查看个人资料</a></li>
					<li><a th:href="@{/upload}" th:target="mainFrame">修改密码</a></li>
				</ul>
			</li>
		</ul>
		<iframe name="mainFrame" id="ifr" width="800px;" height="600px;"
			style="margin-left: 300px; margin-top: -300pz;"> </iframe>
	</div>
</body>
</html>