<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:href="@{/static/css/previewedit.css}" rel="stylesheet">
</head>
<body>
<div class="middle">
	<div class="title"><td  th:if="${resource.reTitle} != null" th:text="${resource.reTitle}"></div>
	<div class="time">【发布时间】:<td th:text="${resource.reReleasedate}"></td></div>
	<div class="author">【作者】:<td  th:text="${resource.rePublisher}"></td></div><br>
	<div class="article"><td th:utext="${resource.reContent}"></td></div>
</div>
<p></p>
</body>
</html>