<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>title</title>
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
		
			</div>
			 <center>
		<p1 th:if="${resource.reTitle} != null" th:text="${resource.reTitle}"></p1><br>
		<span th:text="${resource.rePublisher}"></span><span th:text="${resource.reReleasedate}"></span>
		<div id="one"  th:utext="${resource.reContent}"></div>
	</center>
</body>
</html>