<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p th:text="${msg}"></p>
	<form th:action="@{teacher/reply(reId=${resourceList[0].reId})}"  method="post">
		<table>
			<tr>
				<th>教学成果研究人</th>
				<th>教学成果内容</th>
				<th>提交时间</th>
				<th>回复</th>
			</tr>
			<tr th:each="resource  : ${resourceList}">
				<td th:text = "${resource.rePublisher}">${resource.re_publisher}</td>
				<td th:text = "${resource.reContent}">${resource.re_content}</td>
				<td th:text  = "${resource.reReleasedate}">${resource.re_releaseDate}</td>
				<td><a th :href ="@{teacher/replyEdit(rId=${resource.reId})}">留言</a></td>
		</table>
		<input type="submit">
	</form>
</body>
</html>