<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="UTF-8">
<title>查看个人信息</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/checkuser.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/password.css}">
<script th:src="@{/static/js/jquery-3.2.1.min.js}" type='text/javascript'></script>
</head>
<body>
	<div style="margin-top: 100px;">
		<form th:action="@{/teacher/updatePassword?(uri=updatepassword)}"  method="post" enctype="multipart/form-data" th:object="${user}" class="container"
			role="form" >
			<div class="row">
				<div class="col-lg-7 col-md-7">
					<input type="password"   name="usPassword" id="pwd1" required class="form-control"
						placeholder="请输入密码" onkeyup="olength()"  maxlength="11">
				</div>
				<div class="col-lg-5 col-md-5">
					<span id="pw1"></span>
				</div>
				<div class="col-lg-7 col-md-7">
					<input type="password"   id="pwd2" required class="form-control"
						placeholder="请再次输入密码" onkeyup="olength()"  maxlength="11">
				</div>
				<div class="col-lg-5 col-md-5">
					<span id="pw2"></span>
				</div>
			</div>

			<input type="hidden" name="usName" th:value="${user.usName}"
				readonly="readonly"> <input type="hidden" name="usTel"
				th:value="${user.usTel}" readonly="readonly"> <input
				type="hidden" name="usIdentityid" th:value="${user.usIdentityid}"
				readonly="readonly"> <input type="hidden" name="usEmail"
				th:value="${user.usEmail}" readonly="readonly"> <input
				type="hidden" name="usId" th:value="${user.usId}"
				readonly="readonly"> <input type="hidden" name="usSex"
				th:value="${user.usSex}" readonly="readonly"> <input
				type="hidden" name="usImage" th:value="${user.usEmail}"
				readonly="readonly"> <input type="hidden" name="usIntroduce"
				th:value="${user.usEmail}" readonly="readonly"> <input
				type="hidden" name="usTeachingresults" th:value="${user.usEmail}"
				readonly="readonly"> <input type="hidden" name="usSpare"
				th:value="${user.usEmail}" readonly="readonly">
				<input type="hidden" name="usIdentityname" th:value="${user.usIdentityname}"
				readonly="readonly">
			<div class="row">
				<button type="submit" class="btn btn-primary submit"
					onclick="validate(event)">提交</button>
			</div>
		</form>
	</div>
	<script>
		function validate(event) {
			//alert(event)
			var pwd1 = document.getElementById("pwd1").value;
			var pwd2 = document.getElementById("pwd2").value;
			if (pwd1 != pwd2) {
				alert("两次密码不相同");
				event.preventDefault()
				//				document.getElementById("submit").style.disabled = false;
				$('input').val('');
			}
		}
		function olength() {
			var pwd1 = document.getElementById("pwd1").value;
			var pwd2 = document.getElementById("pwd2").value;
			var p = pwd1 + "";
			var p2 = pwd2 + "";
			if (p.length > 10) {
				document.getElementById("pw1").innerHTML = "<font color='red'>字数不能超过11位</font>";
			}
			if (p2.length > 10) {
				document.getElementById("pw2").innerHTML = "<font color='red'>字数不能超过11位</font>";
			}
		}
	</script>
</body>
</html>